footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
}

button {
  border: none;
  padding: 2%;
}

.btnSelected, .btnSelected button {
  background: rgba(254, 166, 3, 0.705);
  width: 100%;
}

.btnStandard, .btnStandard button {
  background: #68646cb5;
  width: 100%;
}

.btnSelected, .btnStandard {
  text-align: center;
  width: 100%;
}

