* {
  box-sizing: border-box;
  font-family: Smooch , cursive;
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  width: 100%;
}

button {
  border: none;
  padding: 2%;
  width: 80%;
}

.btnStandard {
  background: #68646cb5;
  width: 100%;
}

.btnStandard button {
  background-color: #a97dcd00;
}

.btnSelected button {
  background: rgba(254, 166, 3, 0.705);
  width: 100%;
}
