/* .card-content {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 10px;
  width: 50%;
} */

.card-content p {
  color: rgb(131, 89, 142);
  display: flex;
  font-size: 1.3em;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: 10px;

}

div > img {
  border: 10px solid rgb(76, 56, 15);
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-left: 90px;
  margin-top: 50px;
  width: 50%;
}
