* {
  box-sizing: border-box;
  font-family: Smooch , cursive;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(17, 1, 30);
  height: 100vh;
}

.divLogin {
  bottom: 0;
  height: 100px;
  left: 10%;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
}

.inputLogin {
  height: 34px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 10;
  outline: none;
  padding-left: 8px;
  width: 80%;
}

.btnLogin {
  background: #ff9e00;

  /* border-radius: 20px; */
  color: rgb(8, 8, 8);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  margin: auto;

  /* transition: 1s; */
  padding: 10px;
  width: 80%;
}

/* .btnLogin:hover {
  background: var(--btn-hover);
} */
