* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-search-bar {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100px;
  left: 0;
  margin: auto;
  margin-bottom: 160px;
  position: relative;
  right: 0;
  width: 95vw;
}

.search-input {
  background: white;
  display: flex;
  flex-direction: column;
  height: 34px;
  margin: auto;
  margin-left: 30px;
  margin-top: 40px;
  padding: 10px;
  padding-left: 15px;
  width: 80%;
}

.btnSearch {
  align-items: center;
  background: #a97dcd;
  border: none;
  color: rgb(13, 0, 16);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-left: 30px;
  margin-right: auto;
  padding: 10px;
  transition: 1s;
  width: 80%;
}

.btnSearch:hover {
  background: rgb(250, 138, 1);
}
