:root {

  --primary-color: #ff9e00;

  --secondary-color: #11011e;
}

* {
  box-sizing: border-box;
  font-family: Smooch , cursive;
  margin: 0;
  padding: 0;
}


body {
  background: var(--secondary-color);
  height: 100vh;
}

