:root {

  --primary-color: #ff9e00;

  --secondary-color: #11011e;

  --secondary-color-variant: #11011eea;

  --tertiary-color: #1a012e;

  --quartenary-color: #fefefe;

  --quinary-color: #b3b3b3;

  --senary-color: #a97dcd;

  --font-color: #0d0010;

  --border-box-color: #00000085;
}

* {
  box-sizing: border-box;
  color: var(--font-color);
  font-family: 'Comfortaa' , sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: var(--secondary-color);
  min-height: 100vh;
}

button {
  border: none;
}